// @import "~font-awesome/css/font-awesome.css"
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
@import '~react-md/src/scss/react-md'


$md-primary-color: $md-deep-purple-500;
$md-secondary-color: $md-blue-500;

// Include all components
@include react-md-everything;

.md-media--3-4
  padding-bottom: calc(4/3 * 100%)



.md-card-title--large
  font-size: 16px
